#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    margin-top: 0;
}

a.logo {
    text-decoration: none;
}

a.logo img {
    width: 50px;
}