#faq h3 {
    border: 1px solid #ccc;
    padding: .5em;
    cursor: pointer;
}

#faq h3:hover {
    background-color: rgb(204, 204, 204, .1);
}

#faq > div > a {
    text-decoration: none;
    color: #e8e6e3;
}