.question a > h3 {
    border: 1px solid #555;
    padding: .5em;
    cursor: pointer;
}

.question a > h3:hover {
    background-color: rgb(204, 204, 204, .1);
}

div.question > a {
    text-decoration: none;
    color: #e8e6e3;
}

#faq-banner {
    color: green;
}

@media (max-width: 581px) {
    .question img {
        width: 100%;
    }
}