.gamejam img {
    width: 24vw;
    height: calc(24vw/1.25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.jam-info-text {
    text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
    position: relative;
    overflow-x: hidden;
}

.jam-title {
    font-size: 1.2em;
    width: 24vw;
    height: 3.5em;
    margin-top: 3em;
}

.jam-info {
    position: absolute;
    bottom: 0;
    font-size: 0.95em;
    left: 10px;
    color: white;
}