.gamejam img {
    width: 24vw;
    height: calc(24vw/1.25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.gamejam {
    margin-left: .25em;
    margin-right: .25em;
}

.jam-title {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    width: 24vw;
    height: 3.5em;
    margin-top: 3em;
    margin-bottom: .25em;
}

.jam-title > p {
    align-self: flex-end;
}

.jam-info {
    display: flex;
    justify-content: space-between;
}

.jam-buttons {
    display: flex;
    justify-content: left;
}