html {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: #ccc;
}

.container {
    box-shadow: rgb(17, 19, 19) 5px 5px 4px, rgb(50, 55, 57) -5px -5px 4px;
    background: linear-gradient(145deg, rgba(115,115,115,0.15) 15%, #343c44 80%);
    border-radius: 25px;
    width: 80vw;
    margin-left: 10vw;
    padding-top: 1em;
    padding-bottom: 1em;
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.flex-break {
    width: 100%;
}

a:not(.see-more):not(.button):not(.logo):not(.readable) {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: rgb(191, 200, 255);
}

a:not(.see-more):not(.button):not(.logo):not(.readable):hover {
    color: #EF6480;
    border-bottom-color: transparent;
    cursor: pointer;
}

.button {
    border: none;
    text-decoration: none;
    margin: .1em;
    border-radius: 5px;
    font-size: 1.7em;
    color: #222;
    background-color: #ccc;
    padding: 0 .25em;
}

.button.small {
    font-size: 1.2em;
}

.button:hover {
    color: #ccc;
    background-color: #222;
}

.button.green {
    background-color: green;
    color: white;
    width: auto;
}

.button.green:hover {
    background-color: #222;
    color: green;
}

.see-more {
    width: 20em;
    height: 17.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ccc;
    margin: 0.2em;
}

.see-more:hover {
    background-color: rgb(204, 204, 204, .1);
}

.see-more.secondary {
    width: 40.4em;
    height: 7.5em;
}

.question > h3 {
    border: 1px solid #ccc;
    padding: .5em;
    cursor: pointer;
}

.question > h3:hover {
    background-color: rgb(204, 204, 204, .1);
}

[hidden]
{
    display: none !important;
}

table {
    margin-top: 2em;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #333;
}