.project {
    width: 500px;
    margin-left: .5em;
    margin-right: .5em;
}

.project img {
    width: 100%;
    height: calc(500px / 1.4);
    object-fit: contain;
}

@media (max-width: 1000px) {
    #project tr td:nth-child(4), #project th:nth-child(4),
    #project tr td:nth-child(5), #project th:nth-child(5) {
        display: none;
    }
}

@media (max-width: 750px) {
    #project tr td:nth-child(2), #project th:nth-child(2) {
        display: none;
    }
}

@media (max-width: 500px) {
    .project img {
        width: 90vw;
        height: calc(90vw / 1.4);
    }

    #project .project-name {
        word-break: break-all;
    }
}

.project p {
    width: 100%;
}

#project table {
    margin-top: 2em;
}

.project-image-preview {
    text-align: center;
}

#project-normal-preview {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#project-normal-preview-image {
    max-width: 60vw;
}

.project .button {
    display: flex;
    align-items: center;
}

.project .button span {
    margin-left: 1em;
}