.project {
    width: 500px;
    margin-left: .5em;
    margin-right: .5em;
}

.project img, .project iframe {
    width: 100%;
    height: calc(500px / 1.4);
    object-fit: contain;
}

.project iframe {
    border: none;
}

@media (max-width: 1000px) {
    #project tr td:nth-child(4), #project th:nth-child(4),
    #project tr td:nth-child(5), #project th:nth-child(5) {
        display: none;
    }
}

@media (max-width: 750px) {
    #project tr td:nth-child(2), #project th:nth-child(2) {
        display: none;
    }
}

@media (max-width: 500px) {
    .project img {
        width: 90vw;
        height: calc(90vw / 1.4);
    }
}

#project .buttons {
    flex-flow: column;
}

#project .project-name {
    word-break: break-all;
}

.project > p {
    width: 100%;
    height: 50px;
}

.project-tab p {
    text-align: left;
}

#project table {
    margin-top: 2em;
    width: 100%;
}

.project-image-preview {
    text-align: center;
}

#project-normal-preview {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#project-normal-preview-image {
    max-width: 60vw;
}

tr .button, tr button {
    font-size: 1.5em;
    margin: 5px;
    padding: 2px 5px;
}