.project img {
    max-width: 30vw;
    height: calc(30vw/1.4);
    object-fit: contain;
}

.project p {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.project {
    margin-left: .5em;
    margin-right: .5em;
}

#project table {
    margin-top: 2em;
}

.project-image-preview {
    text-align: center;
}

#project-normal-preview {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#project-normal-preview-image {
    max-width: 60vw;
}

.project .button {
    display: flex;
    align-items: center;
}

.project .button span {
    margin-left: 1em;
}