
#unity-canvas
{
    width: 960px;
    height: 600px;
}

@media (max-width: 960px) {
    #unity-canvas
    {
        width: 90vw;
        height: calc(90vw/1.6);
    }
}

#unity-warning
{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

#unity-loading {
    font-size: 1.2em;
}

#unity-explanations {
    display: flex;
    align-items: center;
    justify-content: center;
}

#unity-explanations > fieldset {
    width: 1000px;
    height: 100px;
}