<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zirk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="Zirk"/>

        <script src="js/index.js"></script>
        <script src="https://analytics.zirk.eu/shika.js" data-url="https://analytics.zirk.eu/analytics/send" data-site-key="1915ceae82bfa4d9d5205d3a"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/sketch.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" type="text/css" href="css/gamejam.css"/>
        <link rel="stylesheet" type="text/css" href="css/project.css"/>
        <link rel="stylesheet" type="text/css" href="css/about.css"/>
        <link rel="stylesheet" type="text/css" href="css/faq.css"/>
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>