<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zirk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="Zirk"/>

        <script src="js/tab.js"></script>
        <script src="js/rpg.js"></script>
        <script src="js/init.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
        {% for file in css %}
            <link rel="stylesheet" type="text/css" href="css/{{ file }}.css"/>
        {% endfor %}
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>