<h2>Showcase</h2>
<p class="explanation">
  It's a bit hard to showcase programming stuff because when you play a game it's easier to say 'the graphic style is pretty' or 'the game idea is nice' than 'this algorithm is well made'<br/>
  That's why I made this little group of project (only one there so far) to attempt to showcase technical stuff that are only programming related
</p>
<p id="unity-loading">
  Loading...
</p>
<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
  <div id="unity-warning"></div>
</div>
<button class="button" id="sketch-map-gen">Map Generation</button>
<button class="button" id="sketch-fishing">Fishing (WIP)</button>
<div id="unity-explanations">
  <div id="sketch-map-gen-expl" hidden>
    This project is about generating a dungeon-like map procedurally, you can use drag&amp;drop to move around
  </div>
  <div id="sketch-fishing-expl" hidden>
    There is an unsaid rule in game dev that say that if you didn't implement a fishing minigame before 50 you missed your life, well at least now I'm safe<br/>
    You may need to move the mouse to catch fishes
  </div>
</div>