(Work in Progress)
<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
  <div id="unity-warning"></div>
</div>
<button class="button" id="sketch-map-gen">Map Generation</button>