<h2>Showcase</h2>
<p class="explanation">
  This project is a group of small independent modules made to showcare various gameplay mechanisms made under Unity<br/>
  They all are various state of progress, improving them when I see fit, feel free to use the buttons below to try them!
  Most of these projects are still heavily work in progress but I'm planning to improve them bit by bit
</p>
<p id="unity-loading">
  Loading...
</p>
<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
  <div id="unity-warning"></div>
</div>
<button class="button" id="sketch-map-gen">Map Generation</button>
<button class="button" id="sketch-trpg">Turn-based RPG</button>
<button class="button" id="sketch-fishing">Fishing</button>
<button class="button" id="sketch-visual-novel">Visual Novel</button>
<button class="button" id="sketch-credits">Credits</button>
<div id="unity-explanations">
  <div id="sketch-map-gen-expl" hidden>
    Demonstration of a dungeon-like map generated procedurally, you can use drag&amp;drop to move around and click on a room to see its size
  </div>
  <div id="sketch-trpg-expl" hidden>
    Demonstration of a turn-based game, you can click anywhere on the map to display the movement range or move around
  </div>
  <div id="sketch-fishing-expl" hidden>
    There is an unsaid rule in game dev that say that if you didn't implement a fishing minigame before 50 you missed your life, well at least now I'm safe<br/>
    You may need to move the mouse to catch fishes
  </div>
  <div id="sketch-visual-novel-expl" hidden>
    Demonstration of a simple visual novel engine, often reused in the jams I do
  </div>
  <div id="sketch-credits-expl" hidden></div>
</div>