<h2>Showcase</h2>
<p class="explanation">
  It's a bit hard to showcase programming stuff because when you play a game it's easier to say 'the graphic style is pretty' or 'the game idea is nice' than 'this algorithm is well made'<br/>
  That's why I made this little group of project (only one there so far) to attempt to showcase technical stuff that are only programming related<br/>
  <br/>
  Most of these projects are still heavily work in progress but I'm planning to improve them bit by bit
</p>
<p id="unity-loading">
  Loading...
</p>
<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
  <div id="unity-warning"></div>
</div>
<button class="button" id="sketch-map-gen">Map Generation</button>
<button class="button" id="sketch-map-gen">Turn-based RPG</button>
<button class="button" id="sketch-fishing">Fishing</button>
<button class="button" id="sketch-visual-novel">Visual Novel</button>
<div id="unity-explanations">
  <div id="sketch-map-gen-expl" hidden>
    Demonstration of a dungeon-like map generated procedurally, you can use drag&amp;drop to move around
  </div>
  <div id="sketch-trpg-expl" hidden>
    Demonstration of a turn-based game, you can click anywhere on the map to display the movement range
  </div>
  <div id="sketch-fishing-expl" hidden>
    There is an unsaid rule in game dev that say that if you didn't implement a fishing minigame before 50 you missed your life, well at least now I'm safe<br/>
    You may need to move the mouse to catch fishes
  </div>
  <div id="sketch-visual-novel-expl" hidden>
    Demonstration of a simple visual novel engine
  </div>
</div>